.navLinks li {
    display: inline-block;
    padding: 0 15px;
  }
  
  .navLinks a {
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-size: 30px;
    border-radius: .2rem;
    background-color: #1c110e;
  }
  
  .navLinks a.active {
    color: rgb(245, 245, 245);
  }
  
  .navLinks a.active:hover {
    color: #3a2d29;
  }
  
  .navLinks a:hover {
    color: #3a2d29;
  }
  
  .nutritionLinks {
    text-align: left;
    color: #1c110e;
    font-size: 15px;
  }

 



